
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Raleway:ital,wght@0,100;0,200;1,100;1,200&display=swap');


body {
  margin: 0;
  font-family: Raleway, sans-serif;
 font-size: 1.5em;
 text-align: center;
 background: #1b1523;
 color: #fff;

}


